@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CocoSharpL";
  src: url(../assets/fonts/CocoSharpL-Regular.otf);
}

@font-face {
  font-family: "CocoSharpL";
  src: url(../assets/fonts/CocoSharpL-Light.otf);
  font-weight: light;
}

@font-face {
  font-family: "CocoSharpL";
  src: url(../assets/fonts/CocoSharpL-Bold.otf);
  font-family: bold;
}

* {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "CocoSharpL";
  font-weight: bold;
}
